<%= form_for(@outra_nota_fiscal) do |f| %>
  <% if @outra_nota_fiscal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outra_nota_fiscal.errors.count, "error") %> prohibited this outra_nota_fiscal from being saved:</h2>

      <ul>
      <% @outra_nota_fiscal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cliente %><br>
    <%= f.text_field :cliente %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
